<div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Company Page</h2>
        <h4>CIE Library</h4>
        <p>the best library for you</p>
        <button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
</div>
  
<div class="container-fluid bg-grey">
<div class="row">
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
    <h2>Our Values</h2>
    <h4><strong>MISSION:</strong> Our mission: CIE Compagny work hard to offre the best trands books to you.</h4>
    <p><strong>VISION:</strong> Our vision to sat down your desires for learning ...</p>
    </div>
</div>
</div>

<!--Services-->
<div class="container-fluid text-center">
<h2>SERVICES</h2>
<h4>What we offer</h4>
<br>
<div class="row">
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-off"></span>
    <h4>POWER</h4>
    <p>CIC Library it's just for you.</p>
    </div>
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-heart"></span>
    <h4>LOVE</h4>
    <p>CIC Library it's just for you.</p>
    </div>
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-lock"></span>
    <h4>JOB DONE</h4>
    <p>CIC Library it's just for you.</p>
    </div>
    </div>
    <br><br>
<div class="row">
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-leaf"></span>
    <h4>GREEN</h4>
    <p>CIC Library it's just for you.</p>
    </div>
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-certificate"></span>
    <h4>CERTIFIED</h4>
    <p>CIC Library it's just for you.</p>
    </div>
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-wrench"></span>
    <h4>HARD WORK</h4>
    <p>CIC Library it's just for you.</p>
    </div>
</div>
</div>
